* {
  text-align: center;
}

#footer {
  background-color: #282c34;
  height: 50px;
}


.spinner {
  height: 80px;
  margin: auto;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

.show {
  display: block;
}

